<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-text color="primary">
    <h1>Título de la página</h1>
  </ion-text>

<p>Lorem, ipsum dolor sit amet <ion-text color="danger">consectetur adipisicing 
  elit. Voluptates quas natus sapiente iure corporis beatae</ion-text>
  <ion-text color="medium">ipsam iste at amet autem, dolorem facere eligendi ipsa qui doloribus rerum, blanditiis minus eius.</ion-text></p>



</ion-content>
